<div class="title mat-headline">コアメンバー</div>

<div class="description mat-body-1">
  Angular日本ユーザー会を運営しているコアメンバーを紹介します。<br />
  コミュニティポリシーに賛同いただき、コアメンバーとしてコミュニティを発展させることに興味があれば、いつでもわたしたちに声をかけてください！<br />
</div>

<div class="members">
  <ul>
    <li *ngFor="let item of members">
      <div class="member-list-item">
        <img src="https://avatars.io/twitter/{{item.twitterScreenName}}" height="64" width="64" />
        <a href="https://twitter.com/{{item.twitterScreenName}}" target="_blank" rel="noopener">
          {{ item.name }} <span *ngIf="item.role">&nbsp;({{ item.role }})</span>
        </a>
      </div>
    </li>
  </ul>
</div>
