<div class="h-full flex flex-col gap-6">
  <h2 class="text-2xl mb-4">ローカルコミュニティ</h2>

  <div class="description mat-body-1">
    <p>
      日本各地でイベントを開催しているローカルコミュニティがあります。<br />
      ぜひあなたの街の近くのコミュニティイベントに参加してみてください！
    </p>
    <p>もしあなたのコミュニティを追加したい場合はSlackやフォーラムでいつでも教えてください！</p>
  </div>

  <div class="">
    <ul class="list-disc list-inside">
      <li *ngFor="let item of localCommunityList" class="text-xl py-2">
        <a href="{{ item.linkURL }}" target="_blank" rel="noopener"> {{ item.name }} @ {{ item.cityName }} </a>
      </li>
    </ul>
  </div>
</div>
