@use '~@angular/material' as mat;
/**
* Generated theme by Material Theme Generator
* https://material-theme-generator.travetto.io
*/

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.

$theme-primary: mat.define-palette(mat.$indigo-palette);
$theme-accent: mat.define-palette(mat.$red-palette, 800);

$theme: mat.define-light-theme($theme-primary, $theme-accent);
$altTheme: mat.define-dark-theme($theme-primary, $theme-accent);

@include mat.core();

// Theme Init
@include mat.all-component-themes($theme);

.theme-alternate {
  @include mat.all-component-themes($altTheme);
}

// Specific component overrides, pieces that are not in line with the general theming
