.root {
  height: 100%;
}

.sidebar {
  background: #ffffff;
  padding: 8px;
  width: 200px;

  .title {
    padding: 4px 8px;
    img {
      width: 100%;
      cursor: pointer;
    }
  }

  .community-button {
    cursor: pointer;
  }

  .copyright {
    font-size: 11px;
  }
}
