<grid-layout class="root" [columns]="['auto', '1fr']">

  <grid-layout class="sidebar" [rows]="['auto', '1fr', 'auto']" [justifyContent]="'center'">

    <div class="title">
      <img src="/assets/title.svg" alt="Angular Japan Communities" (click)="resetMap()">
    </div>

    <mat-list>
      <mat-list-item *ngFor="let community of localCommunities$ | async">
        <div matLine>
          {{community.name}}
        </div>
        <button mat-icon-button (click)="selectCommunity(community)">
          <mat-icon>place</mat-icon>
        </button>
        <div matLine>{{community.city}}</div>
      </mat-list-item>
    </mat-list>

    <grid-layout class="footer" [rows]="['auto', 'auto']" [justifyItems]="'center'">
      <img src="/assets/ng-japan.svg" alt="ng-japan" width="128px">
      <div class="copyright">
        &copy; Angular Japan User Group
      </div>
    </grid-layout>

  </grid-layout>

  <div #mapContainer></div>

</grid-layout>
