.root {
  height: 100%;

  display: flex;
  flex-direction: column;

  .main {
    flex: 1 0 auto;
  }
}

.content-root {
  display: flex;
  flex-direction: column;

  .content-main {
    flex: 1 0 auto;
  }

  .content-footer {
    text-align: center;
    padding: 8px;
  }
}
