<div class="h-full flex flex-col gap-6">
  <h2 class="text-2xl">コミュニティポリシー</h2>

  <p class="text-sm">Angular日本ユーザー会はコミュニティポリシーにしたがって運営されます。</p>

  <section>
    <h3 class="text-xl mb-2">コミュニティの目標</h3>
    <div class="text-lg font-bold mb-2">Make community where everyone feels welcome</div>
    <p class="text-sm">
      Angularが掲げるValuesのひとつ "Community where everyone feels welcome" を実現するため、 <br />
      多様性を尊重し誰もが歓迎されるAngularコミュニティの輪を日本中に広げていくことを目標としています。
    </p>
  </section>

  <section>
    <h3 class="text-xl mb-2">禁止事項</h3>

    <div class="text-sm">
      <p class="mb-4">
        ユーザー会はAngular開発者同士でのナレッジの共有と交流のための非営利のコミュニティです。<br />
        次のような行動を繰り返す参加者を見かけた場合はすぐに運営メンバーにご連絡ください。 <br />
        <a href="mailto:support@ngjapan.org">support@ngjapan.org</a> <br />
      </p>
      <ul class="list-disc list-inside">
        <li>嫌がらせ・誹謗中傷・迷惑行為</li>
        <li>他の技術・コミュニティ等の批判（比較は歓迎です）</li>
        <li>人種・性別・その他あらゆる属性による差別的言動</li>
        <li>アフィリエイト行為</li>
        <li>営利目的の活動</li>
      </ul>
    </div>
  </section>
</div>
