<div class="root">
  <div class="title mat-headline">コミュニティポリシー</div>

  <div class="description mat-body-1">
    <p>Angular日本ユーザー会はコミュニティポリシーにしたがって運営されます。<br /></p>
  </div>

  <div class="goals">
    <div class="heading mat-title">コミュニティの目標</div>
    <div class="goal-line">Make community where everyone feels welcome</div>
    <p class="principle-description mat-body-1">
      Angularが掲げるValuesのひとつ "Community where everyone feels welcome" を実現するため、 <br />
      多様性を尊重し誰もが歓迎されるAngularコミュニティの輪を日本中に広げていくことを目標としています。
    </p>
  </div>

  <div class="rules">
    <div class="heading mat-title">禁止事項</div>

    <div class="rules-description mat-body-1">
      ユーザー会はAngular開発者同士でのナレッジの共有と交流のための非営利のコミュニティです。<br />
      次のような行動を繰り返す参加者を見かけた場合はすぐに運営メンバーにご連絡ください。 <br />
      <a href="mailto:support@ngjapan.org">support@ngjapan.org</a> <br />
      <ul>
        <li>嫌がらせ・誹謗中傷・迷惑行為</li>
        <li>他の技術・コミュニティの批判（比較は歓迎です）</li>
        <li>人種・性別・その他あらゆる属性による差別的言動</li>
        <li>営利活動</li>
      </ul>
    </div>
  </div>
</div>
