.root {
  height: 100%;
}

.content {
  padding: 32px;
}

.hero {
  margin-top: 24px;
  text-align: center;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 0 16px;
  align-items: start;
  justify-content: center;
  align-content: start;
}

.logo {
  img {
    width: 128px;
    height: 128px;
  }
}

mat-card {
  border-radius: 5px;
  margin: 8px;
  width: 200px;

  @media (max-width: 512px) {
    width: 90%;
  }

  [mat-card-image] {
    object-fit: contain;
    object-position: center;
    height: 160px;
  }

  mat-card-content {
    min-height: 64px;
  }
}

.mat-list-item {
  .mat-list-icon {
    margin-right: 8px;
  }
}
