<grid-layout class="root" [rows]="['auto', '1fr']" [justifyItems]="'center'">
  <grid-layout class="hero" [rows]="['auto', 'auto']" [justifyItems]="'center'">
    <div class="mat-title">Angular日本ユーザー会へようこそ！</div>
  </grid-layout>

  <div class="nav">
    <mat-card>
      <img mat-card-image src="/assets/image/ng-japan.svg" alt="ng-japan" />

      <mat-card-content>
        <div>
          <strong>Angular日本ユーザー会</strong
          >は日本のAngular開発者のためのコミュニティです。<br />イベントの開催やドキュメントの翻訳などをおこなっています。
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <mat-card-subtitle> リンク集 </mat-card-subtitle>

        <mat-nav-list>
          <!-- Links -->
          <mat-list-item>
            <mat-icon mat-list-icon>open_in_new</mat-icon>
            <a class="mat-body-1" href="https://medium.com/angular-japan-user-group" target="_blank" rel="noopener">
              公式ブログ
            </a>
          </mat-list-item>

          <mat-list-item>
            <mat-icon mat-list-icon>open_in_new</mat-icon>
            <a class="mat-body-1" href="https://ngjapan.connpass.com/" target="_blank" rel="noopener"> イベント情報 </a>
          </mat-list-item>

          <mat-list-item>
            <mat-icon mat-list-icon>open_in_new</mat-icon>
            <a class="mat-body-1" href="https://twitter.com/ng_japan" target="_blank" rel="noopener">
              Twitter @ng_japan
            </a>
          </mat-list-item>
        </mat-nav-list>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <img mat-card-image src="/assets/image/ng_japan_2019.png" alt="ng-japan 2019" />

      <mat-card-content>
        <strong>ng-japan 2019</strong><br />
        2019/07/13 Google Japanにて開催！
      </mat-card-content>

      <mat-card-actions>
        <a mat-button color="primary" href="https://ngjapan.org/" target="_blank" rel="noopener"> 詳しく見る </a>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <img mat-card-image src="/assets/image/angular_jp_image.png" alt="Angular日本語ドキュメンテーション" />

      <mat-card-content>
        公式ドキュメントの日本語翻訳をおこなっています。<br />
        コントリビューター募集中！
      </mat-card-content>

      <mat-card-actions>
        <a mat-button color="primary" href="https://angular.jp/" target="_blank" rel="noopener"> angular.jpを開く </a>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <img mat-card-image src="/assets/image/whouse_image.png" alt="Who use Angular in Japan" />

      <mat-card-content> 日本国内でAngularを利用している企業・組織をリストアップしています。 </mat-card-content>

      <mat-card-actions>
        <a mat-button color="primary" href="https://whouse.angular.jp/" target="_blank" rel="noopener">
          whouse.angular.jpを開く
        </a>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <img mat-card-image src="/assets/image/slack_logo.svg" alt="slack" />

      <mat-card-content> Slackではチャット形式で雑談や質問、相談などの交流ができます。 </mat-card-content>

      <mat-card-actions>
        <a mat-button color="primary" href="http://slack-invite.ngjapan.org/" target="_blank" rel="noopener">
          Slackに参加する
        </a>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <img mat-card-image src="/assets/image/spectrum_logo.png" alt="spectrum" />

      <mat-card-content> Spectrumではスレッド形式で質問や議論ができます。 </mat-card-content>

      <mat-card-actions>
        <a mat-button color="primary" href="https://spectrum.chat/ng-japan/" target="_blank" rel="noopener">
          Spectrumに参加する
        </a>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <img mat-card-image src="/assets/image/angular_japan_communities_image.png" alt="Angular Japan Communities" />

      <mat-card-content> 日本各地のAngularコミュニティを見つけましょう！ </mat-card-content>

      <mat-card-actions> <a mat-button color="primary" routerLink="/communities"> マップを開く </a> </mat-card-actions>
    </mat-card>
  </div>
</grid-layout>
