<div class="root">
  <section class="section-hero">
    <img src="/assets/image/ng-japan.svg" width="96" height="96" alt="ng-japan" />

    <div>
      <div class="mat-title">Angular日本ユーザー会へようこそ！</div>

      <div class="mat-body-1">
        Angular日本ユーザー会は日本のAngular開発者によるユーザーコミュニティです。<br />
        ナレッジの共有やイベントの開催、ドキュメントの翻訳などをおこなっています。
      </div>
    </div>
  </section>

  <section class="section-welcome">
    <div class="mat-body-1">
      ユーザー会にはどなたでも参加できます。Angularをすでにお使いの方も、これから始めようと思っている方も歓迎します。<br />
      コミュニティの運営方針については<a [routerLink]="'/policy'">コミュニティポリシー</a>をご確認ください。
    </div>
  </section>

  <section class="section-resources">
    <div class="resource mat-elevation-z3">
      <div class="resource-title mat-subheading-2">
        <mat-icon>people</mat-icon>
        コミュニティに参加する
      </div>
      <div class="mat-body-1">
        <p>
          まずはコミュニティのSlackへご参加ください！<br />
          <a href="http://slack-invite.ngjapan.org/" target="_blank" rel="noopener"> Slackに参加する </a>
        </p>
        <p>
          雑談以外の技術的な議論やトラブルシューティングなどに使っているオンラインフォーラムにもぜひご参加ください！<br />
          <a href="https://angular-japan.discourse.group/" target="_blank" rel="noopener"> フォーラムに参加する </a>
        </p>
        <p>
          公式Twitterアカウントでは、イベント情報やAngularの情報など不定期に投稿しています。ぜひフォローしてください！<br />
          <a href="https://twitter.com/ng_japan" target="_blank" rel="noopener"> @ng_japan </a>
        </p>
        <p>
          YouTubeではオンラインイベント「ng-japan
          OnAir」の放送や、オフラインイベントのライブストリーミングなどもおこなっています。<br />
          <a href="https://www.youtube.com/channel/UCayXpiOPFQh9MWePLoEFLmg" target="_blank" rel="noopener">
            ng-japan YouTubeチャンネル
          </a>
        </p>
        <p>
          オフラインイベントのほとんどはconnpassで公開されます。ぜひグループに参加してイベント情報をGETしてください。<br />
          <a href="https://ngjapan.connpass.com/" target="_blank" rel="noopener"> connpassグループ </a>
        </p>
      </div>
    </div>

    <div class="resource mat-elevation-z3">
      <div class="resource-title mat-subheading-2">
        <mat-icon>book</mat-icon>
        日本語版Angularドキュメント
      </div>
      <div class="mat-body-1">
        <a href="https://angular.jp/" target="_blank" rel="noopener"> angular.jp </a>
        は日本語版のAngular公式ドキュメントです。<br />
        翻訳に協力してくれるコントリビューターを募集しています！
      </div>
    </div>

    <div class="resource mat-elevation-z3">
      <div class="resource-title mat-subheading-2">
        <mat-icon>business</mat-icon>
        Angular利用企業リスト
      </div>
      <div class="mat-body-1">
        <a href="https://whouse.angular.jp/" target="_blank" rel="noopener"> whouse.angular.jp </a>
        では日本国内でAngularを利用している企業・組織をリストアップしています。<br />
      </div>
    </div>
  </section>
</div>
