.root {
  height: 100%;

  display: flex;
  flex-direction: column;

  padding: 0 16px;

  padding-top: 24px;

  > :not(:last-child) {
    margin-bottom: 24px;
  }
}

.section-hero {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section-welcome {
}

.section-resources {
  > :not(:last-child) {
    margin-bottom: 16px;
  }

  .resource {
    border-radius: 8px;
    padding: 16px;

    .resource-title {
      display: inline-flex;
      flex-direction: row;
      align-items: center;

      mat-icon {
        margin-right: 4px;
      }
    }

    .resource-link {
      margin-top: 16px;
    }
  }
}
